Built with commit <a href="https://github.com/canihavesomecoffee/ccx_submissionplatform/commit/{{ build_commit }}">{{ build_commit }}</a>
<!-- Environment: {{ current_environment|default("Production") }} -->
<!-- built with commit: {{ build_commit }} -->