{% extends "base.html.twig" %}

{% block content %}
    <h3>Forbidden</h3>
    <p>Sorry, but you have no right to access this. If you think this is an error, get in touch.</p>
{% endblock %}

{% block sidebar %}
{% endblock %}