{% extends "base.html.twig" %}

{% block content %}
    <h3>404 - Not Found</h3>
    <p>Sorry, but the page you requested doesn't seem to exist... Please return a page, or get in touch if you believe this is an error.</p>
{% endblock %}