{% extends "base.html.twig" %}

{% block content %}
    <h3>Upload a new sample</h3>
    <p>You can upload a new sample in two ways onto the platform:</p>
    <ul class="icons">
        <li><i class="fa fa-li fa-upload"></i> <a href="{{ path_for("Upload_new") }}">HTTP Upload (small samples)</a></li>
        <li><i class="fa fa-li fa-folder"></i> <a href="{{ path_for("Upload_ftp") }}">FTP Upload</a></li>
    </ul>
    <p>After you upload them, they are added into the queue below, from where you can add the necessary details in order to submit the sample.</p>
    {% include "upload/process-table.html.twig" %}
{% endblock %}