{% extends "base.html.twig" %}

{% block content %}
    <h3>Automated configuration</h3>
    <p>We're sorry, but there was an error creating the configuration file. Please try again, or get in touch.</p>
{% endblock %}