{% extends "base.html.twig" %}

{% block content %}
    <h3>Delete sample {{ sample.id }}</h3>
    <p>Are you sure you want to delete this sample?</p>
    {% include "notice.html.twig" %}
    <form method="post" action="{{ path_for("Sample Info_delete",{ "id": sample.id }) }}">
        {% include "csrf.html.twig" %}
        <p>
            <input type="button" class="green" value="Cancel and return" onclick="history.back();" />
            <input type="submit" class="red" value="Yes, delete this sample" />
        </p>
    </form>
{% endblock %}