{% extends "base.html.twig" %}

{% block content %}
    <h3>Delete additional file</h3>
    <p>Are you sure you want to delete the additional file for sample {{ sample.id }} with the original name {{ extra.originalName }}.{{ extra.extension }}?</p>
    {% include "notice.html.twig" %}
    <form method="post" action="{{ path_for("Sample Info_delete_additional",{ "id": sample.id, "additional": extra.id }) }}">
        {% include "csrf.html.twig" %}
        <p>
            <input type="button" class="green small" value="Cancel and return" onclick="history.back();" />
            <input type="submit" name="submit" class="red small" value="Yes, delete this file" />
        </p>
    </form>
{% endblock %}