{% extends "base.html.twig" %}

{% block content %}
    <h3>Delete sample</h3>
    <p>Are you sure you want to delete the sample with the original name {{ sample.originalName }}?</p>
    {% include "notice.html.twig" %}
    <form method="post" action="{{ path_for("Sample Info_delete",{ "id": sample.id }) }}">
        {% include "csrf.html.twig" %}
        <p>
            <input type="button" class="green small" value="Cancel and return" onclick="history.back();" />
            <input type="submit" name="submit" class="red small" value="Yes, delete this sample" />
        </p>
    </form>
{% endblock %}