{% extends "base.html.twig" %}

{% block content %}
    <h3>Sample information</h3>
    <p>Please select one of the samples below to see more detailed information about it.</p>
    {% set noSampleMessage="Sorry, there are no samples available yet. Please return later." %}
    {% include "sample-info/list-samples.html.twig" %}
{% endblock %}

{% block sidebar %}
    <h5>Actions</h5>
    <ul class="icons">
        <li><i class="fa fa-li fa-plus-square"></i> <a href="{{ path_for("Upload") }}">Submit a new sample</a></li>
        <!-- FIXME: provide links for these actions -->
        <li><i class="fa fa-li fa-file"></i> <a href="">Generate test file</a></li>
        <!--<li><i class="fa fa-li fa-github-square"></i> <a href="">Post overview on GitHub</a></li>-->
    </ul>
{% endblock %}