{% extends "base.html.twig" %}

{% block content %}
    <h3>Account deactivation</h3>
    <div class="notice error"><i class="fa fa-remove fa-large"></i> The account could not be deactivated. Please get in touch with us, or try again later.</div>
{% endblock %}