{% extends "base.html.twig" %}

{% block content %}
    <h3>Account deactivation</h3>
    <div class="notice success"><i class="fa fa-large fa-check"></i> The account has been deactivated with success.</div>
{% endblock %}