{% extends "base.html.twig" %}

{% block content %}
    <h3>Password recovery</h3>
    <div class="notice error"><i class="fa fa-remove fa-large"></i> The token is invalid, or the password has been reset already. Please request a new one.</div>
{% endblock %}