{% extends "base.html.twig" %}

{% block content %}
    <h3>Login</h3>
    <div class="notice {{ message_type }}"><i class="fa {{ message_icon }} fa-large"></i> {{ message }}</div>
    <form class="vertical" method="post" action="{{ path_for('My Account_login') }}">
        <label for="email">Email address</label>
        <input id="email" name="email" type="email" placeholder="email@address.com" />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        {% include "csrf.html.twig" %}
        <input type="submit" value="Log in" />
    </form>
{% endblock %}