{% extends "base.html.twig" %}

{% block content %}
    <h3>Password recovery</h3>
    {% include "notice.html.twig" %}
    <form class="vertical" method="post" action="{{ path_for('My Account_recover') }}">
        <label for="email">Email address</label>
        <input id="email" name="email" type="email" placeholder="email@address.com" />
        {% include "csrf.html.twig" %}
        <input type="submit" value="Send me a password recovery email" />
    </form>
{% endblock %}