{% extends "base.html.twig" %}

{% block content %}
    <h3>Password recovery</h3>
    <div class="notice success"><i class="icon-ok icon-large"></i> An email with instructions to reset the password has been sent.</div>
{% endblock %}