{% extends "base.html.twig" %}

{% block content %}
    <h3>Register a new account</h3>
    {% include "notice.html.twig" %}
    <form class="vertical" method="post" action="{{ path_for('My Account_register_activate', { 'email': email, 'expires': time, 'hmac': hmac}) }}">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" placeholder="John Doe / My username here" />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        <label for="password2">Repeat password</label>
        <input id="password2" name="password2" type="password" />
        {% include "csrf.html.twig" %}
        <input type="submit" value="Create my account" />
    </form>
{% endblock %}