{% extends "base.html.twig" %}

{% block content %}
    <h3>Rights management for {{ user.name }}</h3>
    <p>Below you can change the rights for this user.</p>
    {% include "notice.html.twig" %}
    <form method="post" action="{{ path_for("My Account_rights",{ "id": user.id }) }}">
        {% include "csrf.html.twig" %}
        <label for="is_admin">Is user admin?</label>
        <input type="checkbox" name="admin" id="is_admin" {{ user.isAdmin ? 'checked="checked"':'' }} />
        <p>
            <input type="button" class="red small" value="Cancel and return" onclick="history.back();" />
            <input type="submit" class="green small" value="Save changes" />
        </p>
    </form>
{% endblock %}