{% extends "base.html.twig" %}

{% block content %}
    <h3>User details for {{ user.name }}</h3>
    <p><small>Note: only you and the site admin can see these details.</small></p>
    <p>Name: {{ user.name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>GitHub linked? {{ user.isGithub ? "Yes":"No" }}</p>
    <h4>Submitted samples</h4>
    <p>TO DO</p>
{% endblock %}