{% extends "base.html.twig" %}

{% block content %}
    <h3>Test overview</h3>
    <p>Below you can see the overview of the test runs that were performed for <a href="{{ path_for("Sample Info_hash", {'hash': sample.hash}) }}">{{ sample.getSampleFileName }}</a>:</p>
    {% include "test/overview.html.twig" %}
{% endblock %}