{% extends "base.html.twig" %}

{% block content %}
    <h3>Regression test - Delete category</h3>
    {% include "notice.html.twig" %}
    <form method="post" action="{{ path_for("Regression tests_category_delete", { 'id': category.id}) }}">
        <p>Are you sure you want to delete the category "{{ category.name }}"?</p>
        <span class="col_12">
            <a href="{{ path_for("Regression tests") }}" class="button red">Cancel</a>
            <input type="submit" class="green" name="confirm" value="Confirm delete" />
        </span>
        {% include "csrf.html.twig" %}
    </form>
{% endblock %}