{% extends "base.html.twig" %}

{% block content %}
    <h3>About this platform</h3>
    <p>This platform was developed during <a target="_blank" href="http://www.google-melange.com/gsoc/homepage/google/gsoc2015">Google Summer of Code 2015</a>
        for <a target="_blank" href="http://wwww.ccextractor.org">CCExtractor</a>. It combines a lot of technologies and
        methods in order to provide an all-in-one platform for submitting samples, viewing and running regression tests.</p>
    <h5>Used frameworks</h5>
    <p>The development of this platform was possible thanks to the next frameworks, utilities, ...</p>
    <ul>
        <li>PHP framework: <a target="_blank" href="http://www.slimframework.com/">Slim 3</a></li>
        <li>Template framework: <a target="_blank" href="http://twig.sensiolabs.org/">Twig</a></li>
        <li>HTML framework: <a target="_blank" href="http://www.99lime.com/elements/">HTML KickStart</a></li>
        <li>Icons (through HTML KickStart): <a target="_blank" href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a></li>
        <li>Github API for PHP: <a target="_blank" href="https://github.com/milo/github-api">GitHub API</a></li>
        <li>Email library: <a target="_blank" href="https://github.com/PHPMailer/PHPMailer">PHPMailer</a></li>
        <li>Email validation library: <a target="_blank" href="http://isemail.info/">isEmail</a></li>
        <li>Logger: <a target="_blank" href="http://codefury.net/projects/klogger/">KLogger</a></li>
    </ul>
{% endblock %}