/* Custom modifications for the theme */
.notice.information {
    background: lightblue none repeat scroll 0 0;
    border: 1px solid blue;
    color: blue;
}

input[type="submit"].small {
    font-size: 0.8em;
    padding: 5px 10px;
}